<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" th:href="@{/css/book.css}"/>
</head>
<body>
<div class="container">
    <h2>도서 상세</h2>
    <form id="frm" method="post">
        <input type="hidden" name="bookId" th:value="${book.bookId}"/>

        <table class="board_detail">
            <colgroup>
                <col width="15%"/>
                <col width="*"/>
                <col width="15%"/>
                <col width="35%"/>
            </colgroup>
            <tr>
                <th>도서 제목</th>
                <td th:text="${book.title}"></td>
                <th>저자</th>
                <td th:text="${book.author}"></td>
            </tr>
            <tr>
                <th>출판사</th>
                <td th:text="${book.publisher}"></td>
                <th>출판일</th>
                <td th:text="${book.publishedDate}"></td>
            </tr>
            <tr>
                <th>ISBN</th>
                <td th:text="${book.isbn}"></td>
            </tr>
            <tr>
                <td colspan="4"><textarea id="description" name="description" th:text="${book.description}"></textarea>
                </td>
            </tr>
            <tr>
                <th>생성 시각</th>
                <td th:text="${book.createdAt}"></td>
                <th>수정 시각</th>
                <td th:text="${book.updatedAt}"></td>
            </tr>
        </table>
    </form>
    <a th:href="@{${book.fileInfo.imageUrl}}" download>
        <img th:src="@{${book.fileInfo.imageUrl}}" alt="이미지"
             style="max-width:300px; max-height:300px; width:auto; height:auto;"/>
    </a>
    <input type="button" id="list" class="btn" value="목록으로"/>
    <input type="button" id="update" class="btn" value="수정하기"/>
    <input type="button" id="delete" class="btn" value="삭제하기"/>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        $(function () {
            $("#list").on("click", function () {
                location.href = "openBookList";
            });
            $("#update").on("click", function () {
                let frm = $("#frm")[0];
                frm.action = "updateBook";
                frm.submit();
            });
            $("#delete").on("click", function () {
                let frm = $("#frm")[0];
                frm.action = "deleteBook";
                frm.submit();
            });
        });
    </script>
</div>
</body>
</html>
